[includeIf "gitdir:~/code/"]
  path = .gitconfig-work
[includeIf "gitdir:~/code-personal/"]
  path = .gitconfig-personal
[core]
  excludesfile = ~/.gitignore_global
[push]
  autoSetupRemote = true
[init]
  defaultBranch = main
[branch]
  sort = -committerdate
[pretty]
  nicelog = format:%C(yellow)%h%Creset %C(auto)%d%Creset %C(white)%s%Creset %C(dim white)%an (%as)%Creset
[alias]
  dm = "!f() { git diff $(git merge-base --fork-point master); }; f"
  changed-files = diff --name-only master
[format]
  pretty = nicelog
