[user]
	email = james@jsrn.net
	name = jsrn
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
[commit]
  verbose = true
	template = ~/.gitmessage
[alias]
	recent = branch --sort=-committerdate
	dm = "!f() { git diff $(git merge-base --fork-point master); }; f"
[push]
	default = current
[pull]
	rebase = false
[init]
	defaultBranch = main
